<!DOCTYPE html>
<html lang="en">

<head>
  <title>Memes</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/stylesheets/navbar.css" />
  <link rel="stylesheet" href="/stylesheets/memesDisplay.css" />
</head>

<body class="position-relative" data-bs-spy="scroll">
  <%- include('./partials/navbar.ejs') %>
    <section class="container mt-5 pt-3">
      <table class="table" id="table">
        <!-- <thead>
        </thead> -->
        
        <tbody id="tableBody">
        </tbody>
      </table>
    </section>
    <% if (noResults) { %>
      <p class="text-center text-muted">No memes found for "<%= q %>"</p>
    <% } %>
    <%- include('./partials/memesTableScript.ejs') %>
    <%- include('./partials/scripts.ejs') %>

</body>
</html>