body {
  padding-top: 80px;
}

table {
  border-collapse: collapse;
}

td {
  border: 1px solid #e5e7eb;

  text-align: center;
  vertical-align: middle;
}

td:hover {
  background-color: #d1d5db;
  cursor: pointer;
}

td img {
  margin-bottom: 10px;
}

p {
  font-weight: bold;
}

img {
  border-radius: 2px;

}

button {
  width: 70px;
  background-color: #212529 !important;
  border-color: #212529 !important;
  border-radius: 4px !important;

  
}

button:hover {
  background-color: #444242 !important;
  border-color: #000 !important;
}


.meme-card {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 8px;
}

.details-btn {
  margin: 0 auto !important;
  float: none !important;
}

td.viewed {
  background-color: #e5e7eb !important;
}

td.viewed:hover {
  background-color: #646464 !important;
}